# Folders to ignore, whatever the place they are
.metadata
classes
hybris/bin/**/bin
gensrc
.settings
node_modules


# Folders to ignore at the root of the repository
log/
temp/
roles/**/data/*
licenses/
bin/ext-*
bin/platform/
roles/**/tomcat/work/*
roles/**/tomcat/conf
!roles/**/base/config/tomcat/conf
roles/**/bootstrap/*
roles/**/data/*
roles/**/media/*
roles/dev/localdc/tomcat/
roles/dev/base/config/solr/instances/default/hsperfdata_dscalloni
roles/dev/base/config/solr/instances/default/hsperfdata_gdandria/
roles/dev/base/config/solr/instances/default/hsperfdata_mcastoldi/
roles/dev/base/config/solr/instances/default/hsperfdata_rpedrinelli/
roles/dev/base/config/solr/instances/default/hsperfdata_gvergara/
roles/dev/base/config/solr/instances/default/hsperfdata_fdelfelice/
roles/dev/base/config/solr/instances/default/hsperfdata_emliotta/
roles/dev/base/config/solr/instances/default/hsperfdata_pberri/
roles/dev-qa/base/config/solr/instances/default/hsperfdata_rpedrinelli
roles/dev-*/base/config/solr/instances/default/hsperfdata_*
roles/dev/base/config/solr/instances/default/hsperfdata_pvtagu/
RemoteSystemsTempFiles/
roles/dev-prpr/base/config/.project

roles/dev-qa/base/config/solr/instances/default/hsperfdata_*/

roles/dev/local*
!roles/dev/local-next
!roles/dev/local
!roles/dev/localaa
!roles/dev/localaa-qa
!roles/dev/localaa-pp
!roles/dev/localal
!roles/dev/localdc
roles/dev/localdc/tomcat/conf/wrapper*
!roles/dev/localgd
roles/dev/localgd/tomcat/conf/wrapper*
roles/dev/localgd/tomcat/conf/server.xml
!roles/dev/localmc
roles/dev/localmc/tomcat/conf/wrapper*
roles/dev-qa/localqamm

roles/dev-prpr/localprprmm/tomcat/bin/*

# Absolute path to ignore
config/local.properties

# Filename patterns to ignore
*.class
build.xml
Generated*.java
platformhome.properties
*testclasses.xml
extensioninfo.xsd
*hmc.jar
hmc.xsd
items.xsd
beans.xsd
ruleset.xml
*.log
*.bak
base.properties
#  Addon specific copy folders
custom/**/_ui/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
*_bof.jar
rebel.xml
project.xml
/tags
/.tags
/.tags_swap


**/gensrc/*
**/classes/*
**/eclipsebin/*
**/hmc/bin/*
*-testclasses.xml
*-webtestclasses.xml
platformhome.properties
extensioninfo.xsd
hmc.xsd
items.xsd
beans.xsd
.DS_Store
**/.springBeans


####### FILES TO BE IGNORED WHICH ARE PART OF ACEA PROJECT ############
#solr.xml
#/config/solr/embedded/solr.xml

config/solr/instances/default/hsperfdata_pvtagu/*
custom/acea/aceastorefront/web/addonsrc/*
custom/acea/aceastorefront/web/webroot/WEB-INF/lib/addon-*.jar
custom/acea/aceastorefront/web/commonwebsrc/*

custom/acea/aceaocc/documentation/output/*
custom/acea/aceaocc/resources/aceaocc/tooltiplist.txt

custom/acea/aceawsadaptermock/registeringmock/*
custom/acea/aceawsadapter/soapui/*

# Intellij
.idea/
*.iml
*.iws
net.sourceforge.pmd.eclipse.plugin.pmdBuilder.launch
org.springframework.ide.eclipse.core.springbuilder (1).launch
~$environments.xlsx


#ext-accelerator/
#ext-addon/
#ext-atdd/
#ext-atddtests/
#ext-backoffice/
#ext-channel/
#ext-cockpit/ 
#ext-commerce/
#ext-content/
#ext-data/
#ext-eventtracking/
#ext-incubator/
#ext-integration/
#ext-platform-backoffice/
#ext-platform-optional/
#ext-print/
#ext-supportability/
#ext-template/
#b2ctelcostorefront/
#platform

custom/formconverter
#roles/dev/base/config/solr/instances/default/hsperfdata_mcolombo/
config/solr/instances/default/hsperfdata_pvtagu/*

custom/bookstore/bookstorecockpits/gensrc/*
custom/bookstore/bookstorecore/gensrc/*
custom/bookstore/bookstorefacades/gensrc/*
custom/bookstore/bookstorefulfilmentprocess/gensrc/*
custom/bookstore/bookstoreinitialdata/gensrc/*
custom/bookstore/bookstorefulfilmentprocess/build.xml

custom/bookstore/bookstoreinitialdata/gensrc/
custom/bookstore/bookstorecockpits/gensrc/
custom/bookstore/bookstorecore/gensrc/
custom/bookstore/bookstorefacades/gensrc/
custom/bookstore/bookstorefulfilmentprocess/gensrc/

custom/bookstore/bookstorefacades/gensrc/my/bookstore/
custom/bookstore/bookstorefacades/gensrc/my/bookstore/*

