
custom/formconverter
#roles/dev/base/config/solr/instances/default/hsperfdata_mcolombo/
config/solr/instances/default/hsperfdata_pvtagu/*

custom/bookstore/bookstorecockpits/gensrc/*
custom/bookstore/bookstorecore/gensrc/*
custom/bookstore/bookstorefacades/gensrc/*
custom/bookstore/bookstorefulfilmentprocess/gensrc/*
custom/bookstore/bookstoreinitialdata/gensrc/*
custom/bookstore/bookstorefulfilmentprocess/build.xml

custom/bookstore/bookstoreinitialdata/gensrc/
custom/bookstore/bookstorecockpits/gensrc/
custom/bookstore/bookstorecore/gensrc/
custom/bookstore/bookstorefacades/gensrc/
custom/bookstore/bookstorefulfilmentprocess/gensrc/

custom/bookstore/bookstorefacades/gensrc/my/bookstore/
custom/bookstore/bookstorefacades/gensrc/my/bookstore/*

custom/bookstore/bookstorecore/gensrc/my/bookstore/core/

custom/bookstore/bookstorestorefront/web/webroot/
custom/bookstore/bookstorestorefront/web/webroot/*

custom/bookstore/bookstorecore/gensrc/my/bookstore/core/
custom/bookstore/bookstorecore/gensrc/my/bookstore/core/*

custom/bookstore/bookstorecore/gensrc/my/bookstore/core/jalo/
custom/bookstore/bookstorecore/gensrc/my/bookstore/core/jalo/*

custom/bookstore/bookstorecore/classes/my/
custom/bookstore/bookstorecore/classes/my/*

custom/bookstore/bookstorefacades/classes/my/
custom/bookstore/bookstorefacades/classes/my/*

custom/bookstore/bookstorecore/hmc/

custom/bookstore/bookstorefulfilmentprocess/eclipsebin/

custom/bookstore/bookstore.iml
custom/bookstore/bookstorecore/eclipsebin/
